Prototyp/backend/data/guidelines/082-006l_S2k_Parenterale_Antibiotika_2019-08-abgelaufen.md
Prototyp/backend/data/embeddings/dosing_tables.json
Prototyp/backend/data/embeddings/guidelines_metadata.json
Prototyp/backend/data/guidelines/020-013l_S3_Epidemiologie-Diagnostik-Therapie-erwachsener-Patienten-nosokomiale-Pneumonie__2024-03.md
Prototyp/backend/data/guidelines/020-020l_S3_Behandlung-von-erwachsenen-Patienten-mit-ambulant-erworbener-Pneumonie__2021-05.md
